.started {
    padding-top: 138px;
}

.com1 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}

.com2 {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.com3 {
    text-align: center;
    font-size: 21px;
    opacity: 0.8;
}