.compatible {
    margin-top: 130px;
}

.line__buttons {
    justify-content: left;
    display: flex;
    align-items: left;
    flex-direction: row;
    filter: grayscale(100%);
;
}

.site__buttons {
    margin-top: 22px;
    display: block;
    align-items: left;
    justify-content: left

}

.site__buttons :first-child {
    margin: 0px;
}