.head__next {
    background-image: url(/img/Rectangle\ 5\ Copy.png), url(/img/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: 1027px 0;
}


.hero {
    margin-top: 150px;
    display: flex;
    text-align: left;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.hero1 {
    margin-top: 20px;
    line-height: 32px;
    font-size: 21px;
    font-weight: 300
}

.phone__location {
    margin-top: 85px;
    display: flex;
    margin-left: 123px;
}